<div class="aboutus-section">
    <div class="mat-card row justify-content-center align-items-center card-style ">
        <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="../../../../assets/img/Logopipe.png" width="60%" alt="">
        </div>
        <div class="col-md-1 vl">

        </div>
        <div class="col-md-6 row justify-content-center align-items-center">
            <div class="livis-heading aboutus-heading col-md-12">
                About Lincode : 
            </div>
            <div class="livis-title aboutus-title col-md-12">
                A Visual Inspection company using Artificial Intelligence and IoT. Helping manufacturers identify defects. Replacing a legacy machine vision technology to provide higher accuracy and precision.
            </div>
            <div class="livis-heading aboutus-heading col-md-12 mt-5">
                About Project : 
            </div>
            <div class="livis-title aboutus-title col-md-12">
                A Visual Inspection company using Artificial Intelligence and IoT. Helping manufacturers identify defects. Replacing a legacy machine vision technology to provide higher accuracy and precision.
            </div>
            <div class="livis-heading aboutus-heading col-md-12 mt-5">
                License Info: 
            </div>
            <div class="livis-title aboutus-title col-md-12">
                <span class="bold-head"> License Key : </span>  ABCAKUNSDIVCNSDICSDC238SCNS
            </div>

            <div class="livis-title aboutus-title col-md-12">
                <span class="bold-head"> License Owner : </span>  Vinayaka
            </div>

            <div class="livis-title aboutus-title col-md-12">
                <span class="bold-head"> Started Date : </span>  12-12-2022
            </div>

            <div class="livis-title aboutus-title col-md-12">
                <span class="bold-head"> Expiry Date : </span>  12-12-2025
            </div>
        </div>
    </div>
</div>